html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta de colores **************************************** */

/* Texto */
.text-color-1 {
  color: #f25c05;
}
.text-color-2 {
  color: #f29f05;
}
.text-color-3 {
  color: #f2b705;
}
.text-color-4 {
  color: #f2e205;
}
.text-color-5 {
  color: #162161;
}
/* Fondo */
.bg-color-1 {
  background-color: #f25c05;
}
.bg-color-2 {
  background-color: #f29f05;
}
.bg-color-3 {
  background-color: #f2b705;
}
.bg-color-4 {
  background-color: #f2e205;
}
.bg-color-5 {
  background-color: #162161;
}
/* ********************************************************* */

.imagenCasoFeliz {
  max-height: 250px;
  border-radius: 100%;
  border: 5px solid #f25c05;
  background-color: #162161;
}

.tarjetaCasoFeliz {
  padding: 0 150px;
  min-height: 70vh;
  border-style: none;
}
