
.imagenCasoFeliz {
  max-height: 250px;
  border-radius: 100%;
  border: 5px solid #f25c05;
  background-color: #162161;
}

.tarjetaCasoFeliz {
  padding: 0 150px;
  min-height: 70vh;
  border-style: none;
}
