body {
  background-color: #162161;
}

.carousel {
  height: 100px;
}

.focuspet {
  height: 250px;
}

span.icons {
  font-size: 60px;
}

.text-colors {
  color: #f25c05;
}

.text-y {
  color: #f2e231;
}
