html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

nav.barra-superior {
    background-color: #162161;
}

.logo {
    width: 20%;
}

hr {
    border-top: 1px solid;
}

a {
    text-decoration: none !important;
}