html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta de colores **************************************** */

/* Texto */
.text-color-1 {
  color: #f25c05;
}
.text-color-2 {
  color: #f29f05;
}
.text-color-3 {
  color: #f2b705;
}
.text-color-4 {
  color: #f2e205;
}
.text-color-5 {
  color: #162161;
}
/* Fondo */
.bg-color-1 {
  background-color: #f25c05;
}
.bg-color-2 {
  background-color: #f29f05;
}
.bg-color-3 {
  background-color: #f2b705;
}
.bg-color-4 {
  background-color: #f2e205;
}
.bg-color-5 {
  background-color: #162161;
}
/* ********************************************************* */

.logo {
  height: 100px;
}

.icono-usuario {
  font-size: 30px;
}

.icono-usuario:hover,
.texto-usuario:hover,
.icono-social:hover {
  color: #f29f05;
}

.contenidoIframeClass {
  /* height: calc(100% - (265px)); */
  width: 100%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.redes-sociales {
  font-size: 20px;
}

/*---------- scroll ----------*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f29f05;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f29f05;
}
/*---------- end scroll ----------*/
